*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    object-fit: cover; 

}
.banner{
    background-image: url("../img/h_img.jpg");
    height:500px;
}

.content {
    color: white;
    padding-top: 100px; 
    text-align: center;
    justify-content: center;
    
}
.img1{
   height:100px;
   margin-left: 180px;
}
 .img2{
     height: 50px;
    
 }
 .services{
    background-image: url("../img/s_image.jpg");
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    padding-top: 100px;
 }

 .abt{
    margin-left: 100px;
 }


.text-click {
     display: none;
 }
 .text-click2 {
    display: none;
}
.text-click3 {
    display: none;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: solid 0.5px #c3c3c3;
    
  }
  
  #panel {
    padding: 50px;
    display: none;
    margin-bottom: 5px;
   
  }
  
 .PORTFOLIO img{
     width: 298px;
     padding: 10px;
     overflow: hidden;
     transition: all  0.3s ease-out;
     cursor: pointer;

 }
 
 .PORTFOLIO img:hover{
    transform: scale(1.2);


 }
 .style1 {
     margin-left:-40px;
     padding-top: 10px;
 }
 .style2 {
    margin-left:-40px;
}
.product img
{
    padding-top:0px;
    margin-top:0px;
}
 .contact {
     background-image: url("../img/c_image.jpg");
     height:auto;
     width: 750;
    
 }
 .contact h3{
    color: white;
    margin-left: 500px;

 }
 .footer img{
 margin: 5px;
 }
 .form-group{
     margin-left: 100px;
     margin-top:5px;
     background-color: none;
     color:white;
 }