*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    object-fit: cover; 

}
.banner{
    background-image: url("../img/h_img.jpg");
    height:500px;
}
.content {
    color: white;
    padding-top: 100px; 
    text-align: center;
    justify-content: center;
    
}
.img1{
   height:100px;
   margin-left: 180px;
}
 .img2{
     height: 50px;
    
 }
 .services{
    background-image: url("../img/s_image.jpg");
    height:500px;
    padding-top: 100px;
 }
 .abt{
    margin-left: 100px;
 }
 .services h3{
     margin-left: 600px;
     padding-top: 50px;
     color: white;
 }
 .do{
     margin-left: 100px;
 }
 .do img{
     padding-left: 100px;
     padding-right: 100px;
     
 }
 /* This class can be replaced using options */
.do hover-in{
    transition: .3s ease-out;
}
.do hover-out{
    transition: .3s ease-in;
}

 .do h3{
     margin-left: 450px;
     margin-top: 30px;
     margin-bottom: 50px;
 }
 .do p{
    margin-left: 100px;
 }
 .PORTFOLIO img{
     width: 298px;
     padding: 10px;
     overflow: hidden;
     transition: all  0.3s ease-out;
     cursor: pointer;

 }
 .PORTFOLIO h3{
     margin-left: 550px;
     
 }
 .PORTFOLIO img:hover{
    transform: scale(1.2);

 }
 .modal{
     background-color: 0, 0, 0 ,0.6;
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;

 }
 .modal p{
     color: white;

 }
 .contact {
     background-image: url("../img/c_image.jpg");
     height:auto;
     width: 750;
    
 }
 .contact h3{
    color: white;
    margin-left: 500px;

 }
 .footer img{
 margin: 5px;
 }
 .copy p{
     margin-left: 650px;
 }
 .copy h5{
    margin-left: 600px;
 }
 .form-group{
     margin-left: 100px;
     margin-top:5px;
     background-color: none;
     color:white;
 }